body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
    padding:20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:25px;
}

#search{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:8px;
    box-sizing:border-box;
}

.car-list{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.car-card{
    width:250px;
    background:white;
    border-radius:12px;
    box-shadow:0 0 10px gray;
    text-align:center;
    padding:15px;
}

.car-icon{
    font-size:80px;
    padding:15px;
}

.car-card p{
    font-size:20px;
    font-weight:bold;
}

button{
    background:green;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:darkgreen;
}

.booking-section{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px gray;
}

.booking-section input{
    width:100%;
    padding:12px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:6px;
    box-sizing:border-box;
}

.contact{
    margin-top:30px;
    text-align:center;
    background:white;
    padding:20px;
    border-radius:10px;
}
